.phone-number {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: var(--main-font-color);
    transition: opacity .35s linear;
    cursor: pointer;
}

.phone-number:hover {
    opacity: .7;
}