.footer__columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


@media (max-width: 768px) {
    .footer__columns {
        flex-direction: column;
        gap: 30px;
    }
}