.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 880px) {
    .header {
        justify-content: center;
    }
}

@media (max-width: 520px) {
    .header {
        display: block;
        padding: 0 0 20px;
    }
}